extends layout 

block content

  h1 #{title}

  if currentUser != undefined
    if currentUser.isAdmin == true
      form(method="POST") 
        h2 Are you sure you want to delete this message?
        p Title: #{message.title}
        p Text: #{message.text}
        p Timestamp: #{message.timestamp}
        p User: #{message.user}
        p ID: #{message._id} 
        button.btn.btn-primary(type='submit') Yes
    else 
      h2 You must be an Admin to view this page 
  else 
    h2 You must be logged in to view this page
