extends layout

block content
  h1= title

  if currentUser != undefined
    h2 Hello #{currentUser.username}
    p Welcome to #{title}
    a(href="/new-message") Send a New Message
  else 
    p Welcome to #{title}
  for message in messages 
    .message 
      h3 #{message.title}
      p #{message.text}
      if currentUser != undefined && currentUser.membership_status == true
        p #{message.timestamp}
        p #{message.user.username}
      if currentUser != undefined && currentUser.isAdmin == true
        a(href="delete-message/" + message._id) Delete Message